<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liqihao.dao.MmoBagPOJOMapper">
  <resultMap id="BaseResultMap" type="com.liqihao.pojo.MmoBagPOJO">
    <id column="bag_id" jdbcType="INTEGER" property="bagId" />
    <result column="articleType" jdbcType="INTEGER" property="articletype" />
    <result column="w_id" jdbcType="INTEGER" property="wId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    bag_id, articleType, w_id, number, role_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mmo_bag
    where bag_id = #{bagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mmo_bag
    where bag_id = #{bagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liqihao.pojo.MmoBagPOJO">
    insert into mmo_bag (bag_id, articleType, w_id, 
      number, role_id)
    values (#{bagId,jdbcType=INTEGER}, #{articletype,jdbcType=INTEGER}, #{wId,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liqihao.pojo.MmoBagPOJO">
    insert into mmo_bag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bagId != null">
        bag_id,
      </if>
      <if test="articletype != null">
        articleType,
      </if>
      <if test="wId != null">
        w_id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bagId != null">
        #{bagId,jdbcType=INTEGER},
      </if>
      <if test="articletype != null">
        #{articletype,jdbcType=INTEGER},
      </if>
      <if test="wId != null">
        #{wId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liqihao.pojo.MmoBagPOJO">
    update mmo_bag
    <set>
      <if test="articletype != null">
        articleType = #{articletype,jdbcType=INTEGER},
      </if>
      <if test="wId != null">
        w_id = #{wId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
    </set>
    where bag_id = #{bagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liqihao.pojo.MmoBagPOJO">
    update mmo_bag
    set articleType = #{articletype,jdbcType=INTEGER},
      w_id = #{wId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER}
    where bag_id = #{bagId,jdbcType=INTEGER}
  </update>
  <select id="selectByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mmo_bag
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
</mapper>