<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liqihao.dao.MmoRolePOJOMapper">
  <resultMap id="BaseResultMap" type="com.liqihao.pojo.MmoRolePOJO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="mmo_scene_id" jdbcType="INTEGER" property="mmoSceneId" />
    <result column="on_status" jdbcType="INTEGER" property="onStatus" />
    <result column="skill_ids" jdbcType="VARCHAR" property="skillIds" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="profession_id" jdbcType="INTEGER" property="professionId" />
    <result column="guild_id" jdbcType="INTEGER" property="guildId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, status, name, type, mmo_scene_id, on_status, skill_ids, money, profession_id, 
    guild_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mmo_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mmo_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liqihao.pojo.MmoRolePOJO" useGeneratedKeys = "true" keyProperty = "id">
    insert into mmo_role (id, status, name, 
      type, mmo_scene_id, on_status, 
      skill_ids, money, profession_id, 
      guild_id)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{mmoSceneId,jdbcType=INTEGER}, #{onStatus,jdbcType=INTEGER}, 
      #{skillIds,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, #{professionId,jdbcType=INTEGER}, 
      #{guildId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liqihao.pojo.MmoRolePOJO">
    insert into mmo_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="mmoSceneId != null">
        mmo_scene_id,
      </if>
      <if test="onStatus != null">
        on_status,
      </if>
      <if test="skillIds != null">
        skill_ids,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="professionId != null">
        profession_id,
      </if>
      <if test="guildId != null">
        guild_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="mmoSceneId != null">
        #{mmoSceneId,jdbcType=INTEGER},
      </if>
      <if test="onStatus != null">
        #{onStatus,jdbcType=INTEGER},
      </if>
      <if test="skillIds != null">
        #{skillIds,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="professionId != null">
        #{professionId,jdbcType=INTEGER},
      </if>
      <if test="guildId != null">
        #{guildId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liqihao.pojo.MmoRolePOJO">
    update mmo_role
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="mmoSceneId != null">
        mmo_scene_id = #{mmoSceneId,jdbcType=INTEGER},
      </if>
      <if test="onStatus != null">
        on_status = #{onStatus,jdbcType=INTEGER},
      </if>
      <if test="skillIds != null">
        skill_ids = #{skillIds,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="professionId != null">
        profession_id = #{professionId,jdbcType=INTEGER},
      </if>
      <if test="guildId != null">
        guild_id = #{guildId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liqihao.pojo.MmoRolePOJO">
    update mmo_role
    set status = #{status,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      mmo_scene_id = #{mmoSceneId,jdbcType=INTEGER},
      on_status = #{onStatus,jdbcType=INTEGER},
      skill_ids = #{skillIds,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      profession_id = #{professionId,jdbcType=INTEGER},
      guild_id = #{guildId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByRoleName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
      count(1)
    from mmo_role
    where name = #{roleName}
  </select>
  <select id="selectByPrimaryKeyAndOnStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mmo_role
    where id = #{id,jdbcType=INTEGER} and on_status=9527
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mmo_role
  </select>

  <select id="selectNextIndex"  resultType="java.lang.Integer">
    select
      AUTO_INCREMENT
    from INFORMATION_SCHEMA. TABLES
    where TABLE_NAME = 'mmo_role'
  </select>
</mapper>