<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liqihao.dao.MmoScenePOJOMapper">
  <resultMap id="BaseResultMap" type="com.liqihao.pojo.MmoScenePOJO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="placeName" jdbcType="VARCHAR" property="placename" />
    <result column="canScene" jdbcType="VARCHAR" property="canscene" />
    <result column="roles" jdbcType="VARCHAR" property="roles" />
  </resultMap>
  <sql id="Base_Column_List">
    id, placeName, canScene, roles
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mmo_scene
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mmo_scene
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liqihao.pojo.MmoScenePOJO">
    insert into mmo_scene (id, placeName, canScene, 
      roles)
    values (#{id,jdbcType=INTEGER}, #{placename,jdbcType=VARCHAR}, #{canscene,jdbcType=VARCHAR}, 
      #{roles,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liqihao.pojo.MmoScenePOJO">
    insert into mmo_scene
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="placename != null">
        placeName,
      </if>
      <if test="canscene != null">
        canScene,
      </if>
      <if test="roles != null">
        roles,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="placename != null">
        #{placename,jdbcType=VARCHAR},
      </if>
      <if test="canscene != null">
        #{canscene,jdbcType=VARCHAR},
      </if>
      <if test="roles != null">
        #{roles,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liqihao.pojo.MmoScenePOJO">
    update mmo_scene
    <set>
      <if test="placename != null">
        placeName = #{placename,jdbcType=VARCHAR},
      </if>
      <if test="canscene != null">
        canScene = #{canscene,jdbcType=VARCHAR},
      </if>
      <if test="roles != null">
        roles = #{roles,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liqihao.pojo.MmoScenePOJO">
    update mmo_scene
    set placeName = #{placename,jdbcType=VARCHAR},
      canScene = #{canscene,jdbcType=VARCHAR},
      roles = #{roles,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mmo_scene
  </select>
</mapper>