<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liqihao.dao.MmoTaskPOJOMapper">
  <resultMap id="BaseResultMap" type="com.liqihao.pojo.MmoTaskPOJO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_message_id" jdbcType="INTEGER" property="taskMessageId" />
    <result column="progress" jdbcType="INTEGER" property="progress" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_message_id, progress, status, role_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mmo_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mmo_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liqihao.pojo.MmoTaskPOJO">
    insert into mmo_task (id, task_message_id, progress, 
      status, role_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{taskMessageId,jdbcType=INTEGER}, #{progress,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liqihao.pojo.MmoTaskPOJO">
    insert into mmo_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskMessageId != null">
        task_message_id,
      </if>
      <if test="progress != null">
        progress,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskMessageId != null">
        #{taskMessageId,jdbcType=INTEGER},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liqihao.pojo.MmoTaskPOJO">
    update mmo_task
    <set>
      <if test="taskMessageId != null">
        task_message_id = #{taskMessageId,jdbcType=INTEGER},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liqihao.pojo.MmoTaskPOJO">
    update mmo_task
    set task_message_id = #{taskMessageId,jdbcType=INTEGER},
      progress = #{progress,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectNextIndex"  resultType="java.lang.Integer">
    select
      AUTO_INCREMENT
    from INFORMATION_SCHEMA. TABLES
    where TABLE_NAME = 'mmo_task'
  </select>
  <select id="selectAllByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mmo_task
    where role_id = #{id,jdbcType=INTEGER}
  </select>
</mapper>