<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liqihao.dao.MmoUserPOJOMapper">
  <resultMap id="BaseResultMap" type="com.liqihao.pojo.MmoUserPOJO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPwd" jdbcType="VARCHAR" property="userpwd" />
    <result column="userRoleId" jdbcType="VARCHAR" property="userroleid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userName, userPwd, userRoleId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mmo_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mmo_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liqihao.pojo.MmoUserPOJO">
    insert into mmo_user (id, userName, userPwd, 
      userRoleId)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{userroleid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liqihao.pojo.MmoUserPOJO">
    insert into mmo_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userpwd != null">
        userPwd,
      </if>
      <if test="userroleid != null">
        userRoleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null">
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="userroleid != null">
        #{userroleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liqihao.pojo.MmoUserPOJO">
    update mmo_user
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null">
        userPwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="userroleid != null">
        userRoleId = #{userroleid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liqihao.pojo.MmoUserPOJO">
    update mmo_user
    set userName = #{username,jdbcType=VARCHAR},
      userPwd = #{userpwd,jdbcType=VARCHAR},
      userRoleId = #{userroleid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(1)
    from mmo_user
    where userName = #{username}
  </select>

  <select id="checkByUernameAndPassword" parameterType="map" resultType="java.lang.Integer">
    select
    id
    from mmo_user
    where userName = #{username} and userPwd=#{password}
  </select>
</mapper>